@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Zen Kaku Gothic Antique', sans-serif, Arial;
}

header{
    height: 10vh;
    width: 100%;
    background-color: #ABABAB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.2rem solid #26998E;
}

header a{
    color: #303030;
    margin-left: 02%;
    margin-right: 02%;
}

header nav{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 05%;
}

header nav :hover{
    color: #005EBD;
    font-weight: bold;
}

header h1{
    margin-right: 04%;
    display: flex;
    color: #26998E;
}

header .container{
    margin-right: 03%;
    width: 20%;
    display: flex;
}

header .informations{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 10vh;
    width: 100%;
    color: #303030;
    cursor: default;
}

header .informations .photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 50%;
    width: 20%;
    border: 3px solid #26998E;
}

header .informations .photo img{
    height: 80%;
    width: 80%;
}

header .informations .seta{
    display: flex;
}

header .informations .seta img{
    height: 1rem;
    cursor: pointer;
}

header .informations .seta img:hover{
    animation-duration: 0.5s;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move{
    0%{
        margin-top: 0;
    }

    100%{
        margin-top: 100%;
    }
}

.menu{
    background-color: #26998E;
    height: 10.6vh;
    width: 20%;
    margin-left: 77%;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
}

.menu button{
    cursor: pointer;
    padding: 1rem;
    height: 10.6vh;
    width: 100%;
    background-color: #26998E;
    border: none;
    color: #303030;
    font-size: 1rem;
}

.menu button:hover{
    border: 1px solid #005EBD;
    color: #005EBD;
    font-weight: bold;
}

main .graph {
    margin-top: 1rem;
    margin-left: 10%;
    background-color: rgba( 38, 153, 142, 0.7);
    display: inline-block;
    width: 80%;
    height: 50vh;
    padding: 0.5rem;
    border: 0.25rem solid #005EBD;
}

.calculate{
    margin-left: 20%;
    width: 35%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    height: 65vh;
    background-color: aqua;
    align-items: center;
}

section fieldset{
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.3rem;
    border: 2px solid #005EBD;
    background-color: #26859E;
}

section h2{
    margin-top: 01%;
    margin-bottom: 1rem;
    color: #005EBD;
}

section fieldset input{
    border: 1px solid #000000;
}

section fieldset input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

section fieldset input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
 }

section fieldset button{
    margin-top: 03%;
    cursor: pointer;
    height: 2rem;
    width: 30%;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #005EBD;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
}

section fieldset button:hover{
    color: #FFFFFF;
    box-shadow: 1px 1px 0.8rem #000000;
}

section .result{
    text-align: center;
    margin-top: 03%;
    display: none;
    font-size: 1.5rem;
    border: 2px solid #005EBD;
    border-radius: 8px;
}

footer{
    margin-top: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
    background-color: #005EBD;
    color: #FFFFFF;
    font-weight: bold;
    border-top: 0.2rem solid #26998E;
}

footer .social-networks{
    height: 60%;
    width: 45%;
    display: flex;
    justify-self: flex-end;
    flex-wrap: wrap;
}

footer .social-networks span{
    margin-right: 5%;
    margin-top: 2%;
}

footer .social-networks div{
    display: flex;
    align-items: center;
    height: 90%;
    width: 25%;
}

footer .social-networks div img{
    display: flex;
    margin-left: 5%;
    width: 15%;
    height: 30%;
}

footer .social-networks div a{
    color: #FFFFFF;
}