@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Zen Kaku Gothic Antique', sans-serif, Arial;
}

header{
    height: 10vh;
    width: 100%;
    background-color: #ABABAB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.2rem solid #26998E;
}

header a{
    color: #303030;
    margin-left: 02%;
    margin-right: 02%;
}

header nav{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 05%;
}

header nav :hover{
    color: #005EBD;
    font-weight: bold;
}

header h1{
    margin-right: 04%;
    display: flex;
    color: #26998E;
}

header .container{
    margin-right: 03%;
    width: 20%;
    display: flex;
}

header .informations{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 10vh;
    width: 100%;
    color: #303030;
    cursor: default;
}

header .informations .photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 50%;
    width: 20%;
    border: 3px solid #26998E;
}

header .informations .photo img{
    height: 80%;
    width: 80%;
}

header .informations .seta{
    display: flex;
}

header .informations .seta img{
    height: 1rem;
    cursor: pointer;
}

header .informations .seta img:hover{
    animation-duration: 0.5s;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move{
    0%{
        margin-top: 0;
    }

    100%{
        margin-top: 100%;
    }
}

/*.marca{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #26998E;
    clip-path: circle(600px at right 800px);
}*/

.menu{
    background-color: #26998E;
    height: 10.6vh;
    width: 20%;
    margin-left: 77%;
    margin-top: 1.3rem;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
}

.menu button{
    cursor: pointer;
    padding: 1rem;
    height: 10.6vh;
    width: 100%;
    background-color: #26998E;
    border: none;
    color: #303030;
    font-size: 1rem;
}

.menu button:hover{
    border: 1px solid #005EBD;
    color: #005EBD;
    font-weight: bold;
}

main .graph {
    margin-top: 1rem;
    margin-left: 10%;
    background-color:rgba(0, 94, 189, 0.5);
    display: inline-block;
    width: 80%;
    height: 50vh;
    padding: 0.5rem;
    border: 0.25rem solid #26998E;
    border-radius: 8px;
}

main .container{
    display: flex;
    justify-content: flex-start;
}

.manage-account{
    margin-top: 5%;
    margin-left: 15%;
    display: none;
    position: fixed;
    height: 60vh;
    width: 70%;
    background-color: #ABABAB;
    border: 0.4rem solid #26998E;
    display: none;
}

.manage-account form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.manage-account h2{
    text-align: center;
    color: #26998E;
    text-shadow: 0rem 0.1rem rgba(0, 0, 0, 1);
}

.manage-account span{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3%;
}

.manage-account input{
    width: 30%;
    margin-top: 2%;
}

.manage-account .bt-close{
    display: flex;
    cursor: pointer;
    align-self: flex-start;
}

.manage-account .bt-close img{
    width: 100%;
    height: 2.5rem;
}
.manage-account button{
    margin-top: 03%;
    cursor: pointer;
    height: 2.5rem;
    width: 40%;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #26998E;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
}

.manage-account button:hover{
    color: #FFFFFF;
}

.manage-account .delete:hover{
    color: #FFFFFF;
    background-color: #FF0000;
}

.calculate{
    margin-left: 10%;
    width: 35%;
    display: flex;
    justify-content: flex-start;
    margin-right: 12%;
    height: 60vh;
    align-items: center;
    float: left;
}

.calculate section fieldset{
    height: 35vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    border: 2px solid #26998E;
    background-color:rgba(0, 94, 189, 0.5);
}

.calculate section h2{
    margin-top: 01%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #26998E;
    text-shadow: -0.1rem 0.1rem rgba(0, 0, 0, 1);
}

.calculate section fieldset input{
    border: 1px solid #000000;
    text-align: center;
    width: 15%;
}

.calculate section fieldset input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.calculate section fieldset input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
 }

 .calculate section fieldset button{
    margin-top: 03%;
    cursor: pointer;
    height: 2rem;
    width: 30%;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #26998E;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
}

.calculate section fieldset button:hover{
    color: #FFFFFF;
}

.calculate section .result{
    text-align: center;
    margin-top: 03%;
    display: none;
    font-size: 1.5rem;
    border: 2px solid #26998E;
    border-radius: 8px;
}

.counter{
    margin-left: 30%;
    width: 35%;
    display: flex;
    justify-content: center;
    height: 65vh;
    align-items: center;
}

.counter section{
    height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #26998E;
    background-color:rgba(0, 94, 189, 0.5);
}

.counter section h2{
    margin-top: 01%;
    margin-bottom: 1rem;
    color: #26998E;
    text-shadow: -0.1rem 0.1rem rgba(0, 0, 0, 1);
}

.counter section button{
    margin-top: 03%;
    cursor: pointer;
    height: 2rem;
    width: 30%;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #26998E;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
}

.counter section label{
    width: 100%;
}


.counter section label input{
    border: 1px solid #000000;
    width: 15%;
    text-align: center;
}

.counter section label input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.counter section label input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
 }

.counter section button:hover{
    color: #FFFFFF;
}

footer{
    margin-top: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
    background-color: #005EBD;
    color: #FFFFFF;
    font-weight: bold;
    border-top: 0.2rem solid #26998E;
}

footer .social-networks{
    height: 60%;
    width: 45%;
    display: flex;
    justify-self: flex-end;
    flex-wrap: wrap;
}

footer .social-networks span{
    margin-right: 5%;
    margin-top: 2%;
}

footer .social-networks div{
    display: flex;
    align-items: center;
    height: 90%;
    width: 25%;
}

footer .social-networks div img{
    display: flex;
    margin-left: 5%;
    width: 15%;
    height: 30%;
}

footer .social-networks div a{
    color: #FFFFFF;
}