@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Zen Kaku Gothic Antique', sans-serif, Arial;
}

header{
    height: 10vh;
    width: 100%;
    background-color: #ABABAB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.2rem solid #26998E;
}

header a{
    color: #303030;
    margin-left: 02%;
    margin-right: 02%;
}

header nav{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 05%;
}

header nav :hover{
    color: #005EBD;
    font-weight: bold;
}

header h1{
    margin-right: 10%;
    display: flex;
    color: #26998E;
}

header .container{
    margin-right: 05%;
    width: 12%;
    display: flex;
    justify-content: space-between;
}

header .container :hover{
    color: #005EBD;
    font-weight: bold;
}

main{
    height: 89.5vh;
    background-image: url("../images/ocean.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-form{
    height: 60%;
    width: 35%;
    background-color: #ABABAB;
    border-radius: 5px;
    border: 5px solid #26998E;
}

.banner-form form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.banner-form label{
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner-form label input{
    border: 1px solid #303030;
    border-radius: 4px;
    height: 2rem;
    text-align: center;
}

.banner-form form button{
    height: 3rem;
    border: 1px solid #303030;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #26998E;
    width: 10rem;
    align-self: center;
    cursor: pointer;
}